Laborator06/NetBeans/ReservationService/web/WEB-INF/wsit-ro.pub.cs.aipi.lab06.reservation.Reservation.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Reservation" targetNamespace="http://reservation/" xmlns:tns="http://reservation/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="getTimeTable"/>
    <message name="getTimeTableResponse"/>
    <message name="getAvailableSeats"/>
    <message name="getAvailableSeatsResponse"/>
    <message name="makeReservation"/>
    <message name="makeReservationResponse"/>
    <message name="cancelReservation"/>
    <message name="cancelReservationResponse"/>
    <message name="getReservations"/>
    <message name="getReservationsResponse"/>
    <portType name="Reservation">
        <operation name="getTimeTable">
            <input message="tns:getTimeTable"/>
            <output message="tns:getTimeTableResponse"/>
        </operation>
        <operation name="getAvailableSeats">
            <input message="tns:getAvailableSeats"/>
            <output message="tns:getAvailableSeatsResponse"/>
        </operation>
        <operation name="makeReservation">
            <input message="tns:makeReservation"/>
            <output message="tns:makeReservationResponse"/>
        </operation>
        <operation name="cancelReservation">
            <input message="tns:cancelReservation"/>
            <output message="tns:cancelReservationResponse"/>
        </operation>
        <operation name="getReservations">
            <input message="tns:getReservations"/>
            <output message="tns:getReservationsResponse"/>
        </operation>
    </portType>
    <binding name="ReservationPortBinding" type="tns:Reservation">
        <operation name="getTimeTable">
            <input/>
            <output/>
        </operation>
        <operation name="getAvailableSeats">
            <input/>
            <output/>
        </operation>
        <operation name="makeReservation">
            <input/>
            <output/>
        </operation>
        <operation name="cancelReservation">
            <input/>
            <output/>
        </operation>
        <operation name="getReservations">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="Reservation">
        <port name="ReservationPort" binding="tns:ReservationPortBinding"/>
    </service>
</definitions>
