Laborator06/NetBeans/Client/xml-resources/web-service-references/Reservation/wsdl/localhost_8080/ReservationService/Reservation.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://reservation.lab06.aipi.cs.pub.ro/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://reservation.lab06.aipi.cs.pub.ro/">

<xs:element name="cancelReservation" type="tns:cancelReservation"/>

<xs:element name="cancelReservationResponse" type="tns:cancelReservationResponse"/>

<xs:element name="getAvailableSeats" type="tns:getAvailableSeats"/>

<xs:element name="getAvailableSeatsResponse" type="tns:getAvailableSeatsResponse"/>

<xs:element name="getReservations" type="tns:getReservations"/>

<xs:element name="getReservationsResponse" type="tns:getReservationsResponse"/>

<xs:element name="getTimeTable" type="tns:getTimeTable"/>

<xs:element name="getTimeTableResponse" type="tns:getTimeTableResponse"/>

<xs:element name="makeReservation" type="tns:makeReservation"/>

<xs:element name="makeReservationResponse" type="tns:makeReservationResponse"/>

<xs:complexType name="getReservations">
<xs:sequence>
<xs:element name="customerId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:ReservationData" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationData">
<xs:sequence>
<xs:element name="clientId" type="xs:int"/>
<xs:element name="interval" type="tns:Interval" minOccurs="0"/>
<xs:element name="numberOfSeats" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Interval">
<xs:sequence>
<xs:element name="startingTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endingTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTimeTable">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTimeTableResponse">
<xs:sequence>
<xs:element name="return" type="tns:Interval" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeReservation">
<xs:sequence>
<xs:element name="customerId" type="xs:int"/>
<xs:element name="interval" type="tns:Interval" minOccurs="0"/>
<xs:element name="noOfSeatsRequired" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableSeats">
<xs:sequence>
<xs:element name="interval" type="tns:Interval" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableSeatsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelReservation">
<xs:sequence>
<xs:element name="customerId" type="xs:int"/>
<xs:element name="interval" type="tns:Interval" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>